# --- For-Bot-Working --------- #
git+https://github.com/Mayuri-Chan/pyrofork
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
